/* From Uiverse.io by vinodjangid07 */ 
.file-upload-form {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: start;
    justify-content: start;
  }
  .file-upload-label input {
    display: none;
  }
  .file-upload-label svg {
    height: 50px;
    fill: #00B04D;
    margin-bottom: 20px;
  }
  .file-upload-label {
    cursor: pointer;
    background-color: #ffffff;
    padding: 30px 70px;
    border-radius: 40px;
    border: 2px dashed #00B04D;

  }
  .file-upload-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .browse-button {
    background-color: #00B04D;
    padding: 5px 15px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    transition: all 0.3s;
  }
  .browse-button:hover {
    background-color: rgb(255, 255, 255);
    color:black ;
  }
  