.jobs-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .job-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
  }
  
  .job-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .job-image {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .job-title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    text-decoration: none;
  }
  
  .job-info {
    font-size: 14px;
    margin-bottom: 10px;
    color: #666;
  }
  
  .job-info p {
    margin: 5px 0;
  }
  
  .details-btn {
    color: #1890ff;
    text-align: right;
  }
  
  .ant-drawer {
    border-radius: 10px 0 0 10px;
  }
  
  .details-btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
  
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: green;
  }

  

  .job-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding: 16px;
    background-color: #fff;
    width: 100%;
    margin: 16px;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .job-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .job-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .job-icon img {
    width: 30px;
    height: 30px;
  }
  
  .job-info {
    flex-grow: 1;
    margin-left: 16px;
  }
  
  .job-info h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .job-info p {
    color: #6b7280;
    font-size: 0.875rem;
  }
  
  .save-job button {
    background: none;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
  }
  
  .job-description {

    font-size: 0.875rem;
    color: #bdbdbd;
  }
  
  .job-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .client-info {
    display: flex;
    align-items: center;
  }
  
  .verified-client {
    color: #64748b;
    font-size: 0.875rem;
    margin-right: 16px;
  }
  
  .job-type {
    font-size: 0.875rem;
    padding: 4px 8px;
    border-radius: 4px;
  }
  
  .Fulltime {
    background-color: #d1fae5;
    color: #059669;
  }
  
  .parttime {
    background-color: #f1edff;
    color: #531cb9;
  }
  
  .apply-btn {
    background-color: #047857;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .apply-btn:hover {
    background-color: #065f46;
  }
  
  @media (max-width: 768px) {
    .job-card {
      width: 100%;
    }
  
    .job-info h3 {
      font-size: 1rem;
    }
  
    .apply-btn {
      padding: 6px 12px;
    }
  }
  