
  
  .container-fluid {
    background-color: white;
  }
  
  input.form-control {
    border-radius: 0.25rem;
    padding: 10px;
  }
  
  input.form-control:focus {
    border-color: #28a745;
    box-shadow: none;
  }
  
  .btn-primary {
    background-color: #00B04D;
    border: none;
    border-radius: 0.25rem;
  }
  
  input::placeholder {
    color: #aab7c4;
  }
  
  .img-fluid {
    border-radius: 0;
  }
  
  h2 {
    font-size: 1.75rem;
  }
  
  .form-label {
    font-weight: 500;
  }
  
  .text-muted {
    font-size: 0.875rem;
  }
  